@import url("normalize.css");

body {
    background: radial-gradient(rgb(253, 157, 219), rgb(213, 138, 248), rgb(253, 157, 219),rgb(213, 138, 248))
}

.topnav {
  position: relative;
  background-color: #ffffff;
  height: 50;
}

.topnav a {
  color: #000000;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav-centered a {
  position: relative;
  top: 10;
  left: 530;
}

.container {
  width: 750px;
  height: 300px;
  margin: 100px auto;
  background-color: rgb(60, 210, 255);
  position: relative;
  border-radius: 25px;
  top: 80;
}

.container h1 {
  margin: 0%;
  font-size: 4em;
  text-align: center;
  position: relative;
  top: 25%;
  color: white;
}

.container p {
margin: 0%;
font-size: 2em;
text-align: center;
position: relative;
top: 35%;
color: white;
}




