@import url("normalize.css");

body {
    background: radial-gradient( plum, pink);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  h1 {
    color: white;
    text-align: center;

  }

p {
    color: white;
    font-size: 30px;
    width: 1450px;
    height: 150px;
    text-align:Left;
}